---
layout: base.njk
permalink: /
title: Home
description: The personal website of Nixinova, containing command generation and coordinate tools for Minecraft, APIs for Minecraft and Hytale, downloads of my Minecraft maps and resource packs, and my personal projects.
keywords: nixinova, nixinova website, nixinova.com, minecraft tools, minecraft api, hytale api, minecraft resource packs, minecraft minigame maps
css: home
---

<% function imageSection(title, bg, css, contents) { %>
    <div
        id="<%= title.toLowerCase() %>"
        class="centered tile showcase-container image-background"
        style="background-image: url(/assets/images/<%= bg %>);<%= css %>"
    >
        <div class="content-container">
            <div class="title">
                <h2><%= title %></h2>
            </div>
            <div class="contents">
                <ul>
                    <% contents.map( ([link, name, classes]) => { %>
                        <li><a class="hover-underline <%= classes %>" href="/<%= link %>"><%= name %></a></li>
                    <% } ) %>
                </ul>
            </div>
        </div>
    </div>
<% } %>

<div id="nixinova" class="centered tile showcase-container">
    <img src="/assets/images/logos/nixinova.png" alt="NIXINOVA" onmousedown="return false;">
</div>

<div id="youtube-videos" class="showcase-container image-background" style="background-image: radial-gradient(white, black);">
    <h2>Recent videos</h2>
    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            const data = await fetch('https://api.rss2json.com/v1/api.json?rss_url=https://www.youtube.com/feeds/videos.xml?channel_id=UCkBbTlppb8XHxI2rFryB1dQ').then(data => data.json());
            for (const item of data.items.slice(0, 6)) {
                document.querySelector('#youtube-videos_list').innerHTML += `
                    <iframe src="https://youtube.com/embed/${item.guid.split(':')[2]}" width="360" style="aspect-ratio: 16/9;">
                `;
            }
        });
    </script>
    <div id="youtube-videos_list" class="centered tile"></div>
</div>

<%= imageSection(
    'Projects', 'backgrounds/projects-background.jpg', '', [
        ['redirect/reforj', 'Reforjopedia', 'external'],
        ['redirect/novasheets', 'NovaSheets', 'external'],
        ['projects/mineo', 'Mineo'],
    ]
) %>

<%= imageSection(
    'Tools', 'backgrounds/tools-background.jpg', '', [
        ['tools/minecraft/commands/give', '/give'],
        ['tools/minecraft/commands/summon', '/summon'],
        ['tools/minecraft/commands/bundle', 'Bundle Creator'],
        ['tools/minecraft/converters/bundle', 'Image-to-Bundle'],
        ['tools/minecraft/converters/coordinates', 'Coordinates'],
        ['tools/minecraft/converters/seed', 'Seed Converter'],
    ]
) %>

<%= imageSection(
    'APIs', 'backgrounds/apis-background.jpg', 'background-color: #444;', [
        ['tools/lastfm/tags', 'Last.fm Tags'],
        ['tools/minecraft/api/versions', 'Minecraft Versions'],
        ['tools/minecraft/api/mojira', 'Mojira Versions'],
        ['tools/hytale/api/blog', 'Hytale Blog'],
    ]
) %>

<%= imageSection(
    'Maps', 'minecraft/maps/kitpvp.jpg', '', [
        ['downloads/minecraft/maps/skywars', 'SkyWars'],
        ['downloads/minecraft/maps/musical-blocks', 'Musical Blocks'],
        ['downloads/minecraft/maps/kitpvp', 'KitPvP'],
    ]
) %>

<%= imageSection(
    'Resource Packs', 'minecraft/resource-packs/nixinova-mash-up.jpg', '', [
        ['downloads/minecraft/resource-packs/mash-up', 'Mash-Up'],
        ['downloads/minecraft/resource-packs/themed', 'Themed Mash-Up'],
        ['downloads/minecraft/resource-packs/herobrinenzk', 'HeroBrineNZK Pack'],
    ]
) %>
